img {
    transition: box-shadow 0.25s, transform 0.25s;
}
  
img:hover {
    box-shadow: 8px 8px 5px #888888;
    transform: translateY(-0.3em);
    cursor: pointer;
}

span {
    font-weight: bold;
}

.lazy_load {
    visibility: hidden;
}
/* https://codepen.io/brettdewoody/pen/mRPqVY */
.fade_in {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    
    to {
      opacity: 1;
    }
}