#card_container {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#card_container > * {
    flex: 0 1 25%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.5em;
}